* { box-sizing: border-box; }

/* Typography */
h1,
h2,
h3,
h4 {
  font-family: Arimo, Futura, Helvetica, Arial, sans-serif;
}

p {
  font-family: Arimo, Futura, Helvetica, Arial, sans-serif;
}

li,
a {
  font-family: Arimo, Futura, Helvetica, Arial, sans-serif;
}

a[href^="mailto"] {
  font-family: Arimo, Futura, Helvetica, Arial, sans-serif;
}
/* end Typography */

.container {
  width: 100%;
  margin: 0 auto;
}

body {
  position: relative;
}

/* Navigation */
.navbar-fixed-top .navbar-brand {
  font-weight: 700;
  font-size: 2em;
  color: #fff;
}

.navbar-fixed-top .navbar-nav> .active> a {
  background-color: black;
  color: #1cbbe6;
  transition: color 300ms;
  -webkit-transition: color 300ms;
}

.navbar-fixed-top .navbar-nav>.active> a:hover {
    color: white;
    background-color: black;
    transition: color 300ms;
  -webkit-transition: color 300ms;
}

.navbar-fixed-top .navbar-brand:hover {
  color: black;
  transition: color 300ms;
  -webkit-transition: color 300ms;
}

.nav.navbar-nav li a {
  color: #fff;
  font-weight: 400;
}

.nav.navbar-nav li a:hover {
  color: black;
  transition: color 300ms;
  -webkit-transition: color 300ms;
}

.navbar-fixed-top{
  background-color: #1cbbe6;
  border: 0;
}

.navbar-fixed-top .navbar-toggle .icon-bar {
  background-color: #1cbbe6;
}

.navbar-toggle {
  background-color: #fff;
  border: 0;
}

.navbar-fixed-top .navbar-toggle:hover {
  background-color: black;
  border: 0;
}

.navbar-fixed-top .navbar-toggle:focus {
  background-color: black;
  border: 0;
}
/* end Navigation */

/* Section Headers */
.header-tmb h1 {
  color: #1cbbe6;
  background-color: white; 
  font-size: 2em;
  font-weight: 300;
  padding-top: 50px;
  padding-bottom: 03px;
  margin-top: 05px;
  margin-bottom: 05px;
}
/* end Section Headers */

#infographics  {
  padding-top: 55px; 
}

#e-learning  {
  padding-top: 55px; 
}

#illustration  {
  padding-top: 55px; 
}

#web-dev  {
  padding-top: 55px; 
}

/* Image Gallery */
/*.image {
  box-sizing: border-box;
  width: 400px;
  height: 400px;
  margin: 10px;
  border-color: black;
  display: inline-block;
  position: relative;
}*/

.work-img {
  display: block;
  margin: auto;
  position: relative;
}

.info {
  display: none;
  position: absolute;
  top: 0;
  background-color: rgba(1, 1, 1, 0.8);
  width: 100%;
  height: 100%;
}

.info p {
  font-family: Arimo;
  text-transform: uppercase;
  font-size: 2.8vw;
  font-weight: 700;
  line-height: 0.9;
  margin-top: 30px;
  margin-right: 20px;
  margin-left: 10px;
  color: #1cbbe6;
}

/*.proj-title {
  font-weight: 700;
}*/
 /* end Image Gallery */

/* About & Contact */

#about-contact {
  background: url("../img/other/about-bkg-01.svg");
  background-attachment: fixed;
 /* background-size: 100% 100%;*/
/*  background-blend-mode: multiply;*/
 /* background-color: #5eceed;*/
  padding-top: 20px;
  height: 100vh;
}

#about-contact-details {
  margin-top: 40px;
}

#about-contact h1 {
  font-size: 1.5em;
  font-weight: 300;
}

#code-img {
  margin-bottom: 10px;
}

.main-text p {
  font-size: .9em;
  color: white;
  letter-spacing: .8px;
  font-weight: lighter;
}

#contact {
  margin-bottom: 60px;
}

hr {
  border: none;
  border-top: 2px dotted white;
  width: 100%;
}

h2.mail {
  font-size: 1.6em;
}

a[href^="mailto"] {
  text-decoration: none;
  color: white;
  transition: color 300ms;
  -webkit-transition: color 300ms;
  -webkit-margin-before: 0;
}

a[href^="mailto"]:hover {
  color: black;
}

.telephone h2 {
  color: white;
  font-weight: 400;
  font-size: 1.6em;
  margin-bottom: 20px;
}

.glyphicon-envelope {
  color: white;
  float: center;
  font-size: .8em;
}

.glyphicon-phone {
  color: white;
  float: center;
  font-size: .8em;
}
/*end About & Contact */

/* end Form */
.form-control::-webkit-input-placeholder {
  color: #1cbbe6;
}

/*.contact-forms {
  margin-top: 20px;
}*/
.form-control {
  border-style: none;
  border-radius: 0;
}

.btn.btn-submit {
  background-color: white;
  border-style: none;
  border-radius: 0;
  color: #1cbbe6;
}

.btn.btn-submit:active {
  background-color: black;
  color: white;
  outline-style: none;
}

#character-counter {
  color: white;
}
/*end Form */

/* map */
#map-canvas {
  height: 100%;
}
/* end map */

/* FAQ panel */
.glyphicon-plus-sign {
  color: black;
}

.panel-title {
  color: white;
  font-weight: 600;
}

.panel-heading {
  padding: 10px;
  color: #708f9c;
  border-color: 0;
}

.panel-title a:hover {
  color: black;
  text-decoration: none;
  transition: color 300ms;
  -webkit-transition: color 300ms;
}

.panel-title a:focus {
  text-decoration: none;
}

.panel-body {
  color: white;
  background-color: black;
  border-color: 0;
  border-top: 0;
}

.panel-default >.panel-heading {
  background-color: #1cbbe6;
  border-color: #dddddd;
}

.panel-default {
  border: none;
}

.panel-group .panel-heading + .panel-collapse> .panel-body {
    border: none;
}
/* end FAQ panel */

/* Learn More & Modal button */
.learn-more {
  text-align: left;
  float: left;
  color: #1cbbe6;
  margin-left: 25px;
}

.modal-button {
  float: right;
  padding-top: 25px;
  margin-right: 15px;
}
/* end Learn More & Modal button */

/* Modal frame */
.modal-body {
  height: 580px;
  background-color: #1cbbe6;
}

.modal-content {
  width: 430px;
  margin: 0 auto;
}

.modal-title {
  color: #1cbbe6;
}

#modalframe {
  padding: 20px;
  height: 100%;
  width: 100%;
}
/* end Modal frame */

/* Carousel */
.mycarousel {
  margin-bottom: 05px;
}

.info-tmb .col-xs-12, .col-sm-6, .col-md-3 {
  padding: 3px;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}
/* end Carousel */

/*#code.img-responsive {
  display: block;
  max-width: 60%;
  height: auto;
}*/

/* Table */
table {
  width: 98%;
  margin: 0 auto;
  background-color: #1cbbe6;
}

.table, th, td {
  border: 2px solid white;
  padding: 10px;
  margin: 15px;
  color: white;
}

.table, th {
  font-weight: 500;
  font-size: 1.5em;
}
/* end Table */

/* Portfolio Project Course goals */
.row {
  color: black;
  margin-bottom: 20px;
}

.item1 { 
  color: #1cbbe6;
}
/* end Portfolio Project Course goals */

/* video */
.wrapper {
  margin: 0 auto;
  width: 560px;
  border: 0;
  padding: 0px;
}

.vidwrap {
  margin: 0 auto;
}
/* end video */

/* footer */
.footer {
  height: 60px;
  background-color: #1cbbe6;
  position: relative;
  bottom: 0;
}

.footer-copyright {
  font-size: .7em;
  font-weight: 600;
  color: white;
  padding-top: 20px;

  margin: 0px;
  display: inline-block;
}

.fa {
  display: inline-block;
  padding-top: 06px;
  margin-bottom: 10px;
  margin-left: 20px;
}

.fa-github {
  color: white;
}

.fa-pinterest-square {
  color: white;
  padding-right: 05px;
}

.fa-twitter-square {
  color: white;
}
/* end footer */

/* swipebox */
#swipebox-bottom-bar,
#swipebox-top-bar {
  text-shadow: none;
  background-color: #1cbbe6;
}
/* ends swipebox */

@media (max-width: 768px) {
  #about-contact {
    height: 100%;
  }
}

